*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --background: hsl(235, 21%, 11%);
  --foreground: hsl(235, 24%, 19%);
  --text: hsl(234, 39%, 85%);
  --completed-text: hsl(234, 11%, 52%);
  --active: hsl(220, 98%, 61%);
  --hover-grad: linear-gradient(
    120deg,
    rgba(87, 221, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
  --background-img-mob: url(../images/bg-mobile-dark.jpg);
  --background-img-desk: url(../images/bg-desktop-dark.jpg);
  --hover: hsl(236, 33%, 92%);
  --background-pos: 25%;
}
.light-theme {
  --background: hsl(0, 0%, 98%);
  --foreground: hsl(236, 33%, 92%);
  --background-img-mob: url(../images/bg-mobile-light.jpg);
  --background-img-desk: url(../images/bg-desktop-light.jpg);
  --text: hsl(235, 19%, 35%);
  --hover: hsl(235, 19%, 35%);
  --completed-text: hsl(236, 9%, 61%);
  --background-pos: 50%;
}

body {
  color: white;
  background-image: var(--background-img-mob);
  background-repeat: no-repeat;
  background-position-x: var(--background-pos);
  background-color: var(--background);
  font-size: 18px;
  height: 100vh;
  margin: 0 !important;
}

body > p {
  color: var(--completed-text);
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
}

#content {
  padding: 15px;
  max-width: 574px;
}

.input-box,
#info,
#filters {
  box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.3);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 30px 0;
}

#header > h1 {
  margin: 0;
  letter-spacing: 15px;
  font-weight: 700;
  font-size: 1.5em;
}

#header > img {
  cursor: pointer;
}

.input-box {
  border-radius: 5px;
}

.input-box,
.task-box {
  display: flex;
  background-color: var(--foreground);
  align-items: center;
  padding: 0 20px;
  gap: 15px;
}

.input::placeholder {
  color: var(--completed-text);
}

.input,
.task-input {
  color: var(--text);
  flex-grow: 1;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  outline: none;
  overflow: hidden;
  max-width: 277px;
}

#msg-empty {
  justify-content: center;
}

.circle,
.f-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--completed-text);
  position: relative;
}

.circle:hover {
  cursor: pointer;
  border-color: var(--active);
}

.delete {
  color: var(--completed-text);
  cursor: pointer;
}

.delete:hover {
  color: var(--hover);
}

#tasks {
  margin-top: 20px;
  border-radius: 5px 5px 0 0;
  background-color: var(--foreground) !important;
}

.task-box {
  border-bottom: 1px solid var(--completed-text);
  background-color: transparent;
  cursor: grab;
}

#info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background: var(--foreground);
  border-radius: 0 0 5px 5px;
}

#info > p {
  color: var(--completed-text);
  font-size: 12px;
}

#clear-complete:hover {
  cursor: pointer;
  color: var(--hover);
}

#filters {
  margin: 20px 0;
  display: flex;
  gap: 25px;
}

#filters > p {
  cursor: pointer;
  color: var(--completed-text);
}

#filters > p:hover {
  color: var(--hover);
}

.active {
  color: var(--active) !important;
}

@media (min-width: 375px) {
  * {
    font-size: 18px;
  }
  body {
    background-image: var(--background-img-desk);
    background-repeat: no-repeat;
    background-color: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #content {
    width: 100%;
    max-width: 574px;
    min-width: 391px;
    padding: 15px;
  }
  #header {
    margin-bottom: 60px;
  }
  #header > h1 {
    font-size: 2em;
  }
  .input,
  .task-input {
    line-height: 67px;
    height: 67px;
    font-size: 18px;
    max-width: 439px;
  }
}

@media (min-width: 1440px) {
  body {
    background-size: 100%;
  }
  #content {
    margin-top: 50px;
  }
}
